<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Copyright (c) 2001 - 2013 OpenPlans - www.openplans.org. All rights reserved.
 This code is licensed under the GPL 2.0 license, available at the root
 application directory.
 -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
   <!--  <bean id="geopkgGetFeatureOutputFormat" class="org.geoserver.vectortile.VectorTileGetFeatureOutputFormat">
      <constructor-arg ref="geoServer" />
    </bean> -->
    
        <bean id="hello" class="org.geoserver.vectortile.HelloResource">
        	<constructor-arg ref="geoServer"/>
        </bean>

    <bean id="helloMapping" class="org.geoserver.rest.RESTMapping">
       <property name="routes">
          <map>
            <entry>
              <key><value>/vectortile/{name}/{z}/{x}/{y}.{format}</value></key>
              <value>hello</value>
            </entry>
         </map>
      </property>
    </bean>
</beans>